*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    perspective: 700px;
}
h1{
    font-family: "Jost",sans-serif;
}
/* Start Header */
.flex-container {
    display: flex;
    justify-content: space-evenly;     
    height: auto;
    gap: 5px;
    background-color: rgb(244, 248, 248);
  }
.flex-container > div{
    padding: 8px;
  }
.nav-header{
    display: flex;
    justify-content: space-around;     
    height: 100%;
    gap: 5px;
  }
li{
    display: flex;
    justify-content: space-around;     
    height: 98%;
    padding: 15px;
    gap: 5px;
  }
.gap-right-nav{
    gap: 25px;
    padding: 15px;
  }
a{
    text-decoration: none;
    color: black;
  }
.li-nav{
    text-transform: capitalize;
    position: relative;
    z-index: 1;
  }
  .gap-right-nav i:hover{
    color: red;
  }
.nav-header .li-nav .page-nav::before{
    content: "";
    top: -5px;
    left: 13%;
    position: absolute;
    transition: .3s;
    z-index: -1;
    overflow: hidden;
  }
.nav-header .li-nav .page-nav{
    position: absolute;
    width: 321px;
    background: #fff;
    left: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    border: 1px solid rgba(255, 32, 32,0.5);
    border-radius: 7px;
    transition: 0.2s;
  }
.nav-header .li-nav:hover .page-nav{
    visibility:visible;
    opacity:1;
    top:100%;
  }
.nav-header a .page-nav{column-count: 2;width: 400px;}
.nav-header a .page-nav h3,.nav-header a .page-nav h4 {padding: 9px 0;color: rgba(0,  0, 0, .5);}
.flex-container .item3 ul a .cart{
  position: relative;
}
.flex-container .item3 ul a .cart::after{
    transition: all .4s ease-out 0s;
    position: absolute;
    content: "10";
    background: #FF2020;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    top: -11px;
    right: -13px;
    padding: 1px 4px;
}
.bleow-header{
    background-color: black;
    width: 100%;
    height: 50px;
    text-align: center;
    color: aliceblue;
    padding: 15px;
    font-size: 20px;
  }
.li-nav li:hover{
    border: 0.5px inset red;
    transition: all 0.2s;
    color: red;
  }
.active-shop{
    color: rgba(255, 255, 0, 0.7);
    border-bottom: 1px solid  yellow;
    padding-bottom: 2px;
  }
.active-shop:hover{
    letter-spacing: 1px;
    transition: all 0.5s;
  }
  /* End Header */
  /* Start Main */
.image-main{
    background-image: url(../images/main.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }
.main-span{
    color: #FF2020;
    font-family: "Clicker Script",cursive;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1px;
    display: block;
  }
.h1-main{
    font-size: 55px;
    font-weight: 500;
    color: #292621;
    line-height: 1.3;
    margin-bottom: 2px;
  }
.p-main{
    column-width: 300px;
    text-align: center;
    color: #74706B;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 31px;
    padding: 0 50px;
    width: 72%;
    line-height: 30px;
  }
.btn-main{
    background: #292621;
    font-weight: 521;
    border: 1px solid #292621;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 15px 35px;
    line-height: 16px;
    font-size: 15px;
  }
.btn-main:hover{
    background-color: #fff;
    color: #292621;
    transition: all 0.7s;
  }
  /* End Main */
  /* Start Section1 */
  .sec1{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;  
    justify-content: center;
  }
  .sec1 .div-sec1 img{
    width: 360px;
    height: 300px;
  }
  .div-sec1{
    margin-left: 30px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  .div-sec1:hover img{
    transform:scale(1.02);
    transition: all 0.5s;
  }
.sec1 .div-sec1::before{
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    content: "";
    z-index: 1;
    background: linear-gradient(to bottom, rgba(41,38,33,0) 0%, #292621 100%);
}
.img-sec1-content{
    position: absolute;
    bottom: 15%;
    text-align: center;
    left: 30%;
    z-index: 5;
}
.img-sec1-content h4 a {
    color: #fff;
    font-size: 24px;
}
.sec1 .div-sec1 .link-sec1::before{
    position: absolute;
    content: "";
    background: #CEBD9C;
    width: 100%;
    bottom: -10%;
}
.sec1 .div-sec1 .link-sec1{
    position: absolute;
    z-index: 5;
    width: 100%;
    left: -1%;
    opacity: 0;
    visibility: hidden;
    margin-top: 61px;
} 
.sec1 .div-sec1  .center{
    margin-left: -12%;
}
.space{
    left: 18%;
}
.sec1 .div-sec1:hover .link-sec1{
    opacity:1;
    visibility:visible;
    transition: all 1s;
    margin-top: 20px;
}
.sec1 .div-sec1:hover .img-sec1-content{
    bottom: 25%;
    transition: all 0.5s;
}
/* End Section1 */
/* Start Section2 */
.container-sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10%;
    padding-left: 10%;
    position: relative;
}
.line-sec2{
    position: absolute;
    bottom: 0%;
    width: 81%;
    border: 0.2px solid rgb(236, 236, 236);
    
}
.h2-sec2{
    align-self: flex-start;
    color: #292621;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}
.right-list-sec2{
    padding-right: 10%;
}
.right-list-sec2 .nav-header a li{
    font-size: 20px;
    font-weight: 500;
}
.space-nav-sec2{
    color: #FF2020;
    border-bottom: 4px solid red;
}
.right-list-sec2 .nav-header a:hover .space-nav-sec2-hover{
    color: #FF2020;
    border-bottom: 4px solid red;
}
.first-li-nav{
    color: #FF2020;
}
/* End Section2 */
/* Start Section3 */
.sec3{
    width: 80%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;  
    justify-content: center;
}
.sec3 .div-sec3 .front, .sec3 .div-sec3 .back{
  position: absolute;
}
.div-sec3, .div-sec3 .front img, .div-sec3 .back{
  width: 100%;
  height: 300px;
}
.sec3 .back{
    background-image: url(../images/item7.jpg);
    background-size: cover;
    z-index: 1;
    opacity: 0;
    height: 100%;
}
.div-sec3:hover .back{
    transform: rotateY(180deg);
    transition: all 2s;
    opacity: 1;
}
.div-sec3{
    transform: rotateY(180deg);
}
.sec3 .div-sec3 .back{
  position: relative;
}
.sec3 .div-sec3 .back .icons-image-back-sec3 .gap-right-nav{
  gap: 2;
  padding: 47px;
}
.sec3 .div-sec3 .back .icons-image-back-sec3 ul a i{
  position: absolute;
  bottom: 10%;
}
.sec3 .div-sec3 .back .icons-image-back-sec3 ul a i{
  background-color: #fff;
  padding: 10px;
  margin-left: -20px;
  margin-top: 0%;
}
.sec3 .div-sec3 .back .icons-image-back-sec3 ul a i:hover{
  background-color: #FF2020;
}
 .icons-image-back-sec3 ul a i{
  font-size: 24px;
 }
 .icons-image-back-sec3 ul a i:hover{
  color: #292621;
 }   
 .bottom-content-image{
  position: absolute;
  bottom: 0;
  left: 6%;
  margin-bottom: -64px;
  padding-top: 20px;
  text-align: center;
  font-weight: 500;
 }
 .p-two{
  left: 26%;
 }
 .p-three{
  left: 45%;
 }
.p-4{
  left: 66%;
}
.p-5{
  left: 86%;
}
del{
  color: rgba(194, 194, 99, 0.6);
  font-weight: 700;
  margin-left: 10px;
}
 .back:hover div p a{
  color: red;
}
.left ,  .right{
  position: absolute;
  border: 0;
  padding: 0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  font-size: 23px;
}
.sec3 .right{
  right: -3%;
}
.sec3 .left{
  left: -1%;
}
/* End Section3 */
/* Start Section4 */
.sec4{
  background-color: rgba(127, 255, 212, 0.2);
  width: 100%;
  height: 70vh;
  margin: 15% 0;
  border-top: 1px groove #292621;
  border-bottom: 1px groove #292621;
  position: relative;
}
.sec4 .main-content{
  margin: auto;
}
.sec4 .main-content .h1-main{
  font-size: 35px;
  font-weight: 700;
  margin-top: -1%;
  margin-bottom: 5%;
}
.sec4 .main-content .p-main{
  width: 100%;
  font-size: 23px;
  opacity: 0.6;
  line-height: 1.6em;
  margin-top: 5%;
}
.sec4 .image-sec4{
  border-radius: 50%;
  margin-top: 2.5%;
  margin-left: -20%;
}
.sec4 span{
  text-align: left;
  position: absolute;
  bottom: 17%;
  left: 53%;
  font-size: 14px;
  color: gray;
  margin-left: -5%;
}
.sec4 .span1 {
  bottom: 22%;
  font-weight: 600;
  color: #292621;
}
.sec4 .left{
  left: 10%;
}
.sec4 .right{
  right: 10%;
}
/* End Section4 */
/* Start Section5 */
.sec5{
  margin-top: -10%;
}
.h1-sec5{
  text-align: center;
  text-transform: capitalize;
}
.sec5 .back{
  transform: translate(0%,-50%);
}
.sec5 .back{
  background-image: url(../images/down-img.jpg);
  background-size: cover;
  z-index: 1;
  opacity: 0;
  height: 100%;
}
.sec5 .div-sec3{
  transform: rotateY(360deg);
}
.sec5 .div-sec3:hover .back{
  transform: rotateY(360deg);
}
/* End  Section5*/
/* Start Section6 */
.sec6{
  padding-top: 5%;
  height: 700px;
}
.sec6 .h1-sec5{
  font-size: 30px;
}
.sec6 .sec1 {
  transform: translate(-22% , 0%);
}
.sec6 .sec1 .div-sec1 img{
  width: 350px;
  height: 295px;
}
.sec6 .sp1-sec6{
  text-align: left;
  position: absolute;
  bottom: -12%;
  left: 7.5%;
  font-size: 17px;
  color: #a8a6a6;
  margin-left: -5%;
  font-weight: 570;
}
.sec6 .sub-sp{
  bottom: -33%;
  font-size: 22px;
  width: 25%;
  color: #292621;
}
.sec6 .sub-sp:hover{
  color: #FF2020;
}
.sec6 .p{
  position: absolute;
  bottom: -50%;
  width: 30%;
}
.sec6 .link6{
  bottom: -60%;
}
.sec6 .active-shop{
  color: #292621;
  border-bottom-color: #292621;
  text-transform: capitalize;
}
.sec6 .active-shop:hover{
  font-size: 18px;
  transition: all .2s;
}
.sec6 .con-2 {
  left: 41.5%;
}
.sec6 .con-3{
  left: 74.5%;
}
/* End Section6 */
/* Start Section7 */
.sec7{
  position: relative;
}
.sec7 .list-sec7{
  margin-top: -8%;
}
.sec7 i{
  font-size: 55px;
  color: rgba(41, 38, 33, 0.5);
  padding-left: 60%;
}
.sec7 ul a{
  position: relative;
  right: 2%;
}
.sec7 .icon2{
  color:  rgba(41, 38, 33, 0);
  position: absolute;
  left: 0%;
  bottom: 0%;
  transform: translateY(-78%);
}
.sec7 ul a:hover .icon2{
  color: rgba(41, 38, 33, 1);
  transform: translateY(0%);
  transition: all 0.1s;
}
.sec7 ul a span{
  position: absolute;
  bottom: -2.5em;
  left: 0%;
  width: 201px;
  font-size: 23px;
  color: #000;
}
.sec7 ul a .sp2-sec7{
  color: #57667e;
  font-size: 17px;
  width: 174px;
  bottom: -1.5em;
}
/* End Section7 */
/* Start Footer */
.footer-container{
  background-color: #000;
  height: 827px;
  width: 100%;
  text-align: center;
}
.footer{
  margin-top: 10%;
  padding: 10%;
  padding-top: 4%;
}
.parent-footer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  font-weight: 600;
  }
  .div1f { grid-area: 1 / 1 / 2 / 2;text-align: left; }
  .div2f { grid-area: 1 / 2 / 2 / 5; }
  .div3f { grid-area: 1 / 5 / 2 / 6; }
  .parent-footer .div2f input{
    width: 55%;
    margin-left: 15%;
    padding: 3%;
    border: 0;
    font-size: 20px;
    height: 67%;
    padding-top: 17px;
  }
  .parent-footer .btn-main{
    background-color: red;
    font-weight: 521;
    border: 1px solid #292621;
    text-transform: capitalize;
    color: #fff;
    display: inline-block;
    line-height: 16px;
    font-size: 20px;
    margin-left: 2%;
    width: 150px;
    padding: 25px;
    text-align: center;
  }
  .parent-footer .btn-main:hover{
    transform: scale(105%);
    transition: all 0.1s;
  }
  .parent-footer .div3f i{
    color: rgba(255, 255, 255,0.5);
    padding-left: 0%;
    font-size: 28px;
    margin-top: 30%;
    margin-left: 50%;
  }
  .parent-footer .div3f i:hover{
    color: rgba(255, 255, 255,1);
  }
  .parent-footer .div3f .gap-right-nav{
    gap: 15px;
    padding: 15px;
    padding-left: 109px;
  }
  .parent-footer .footer-sp{
    font-size: 25px;
    line-height: 60px;
  }
  .parent-footer .footer-sub-sp{
    font-weight: 500;
    font-size: 15px;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #fff;
    margin-top: -30%;
    margin-left: 10%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 5%;
    height: 52%;
    width: 85%;
} 
    .div1 { grid-area: 1 / 1 / 4 / 2; }
    .div2 { grid-area: 1 / 2 / 4 / 3; }
    .div3 { grid-area: 1 / 3 / 4 / 4; }
    .div4 { grid-area: 1 / 4 / 4 / 5; }
    .div5 { grid-area: 1 / 5 / 4 / 6; }
.footer-container .parent  ul li{
  justify-content: flex-start;
  color: #8a8d92;
  padding-top: 1.5%;
  font-weight: bold;
}   
.footer-container .parent  ul .f-li1{
  font-weight: bolder;
  color: #fff;
  padding-bottom: 20%;
}
.footer-container .parent  ul a:hover span{
  letter-spacing: 1px;
  transition: all .1s;
  border-bottom: 2px groove rgb(128, 128, 128);
}
div.footer-container div.span-foo-down{
  color: rgba(255, 255, 255, 0.4);
  padding: 60px;
  font-size: 22px;
}
div.footer-container div.span-foo-down a{
  color: rgba(255, 0, 0, 0.5);
  font-weight: 600;
}
div.footer-container div.span-foo-down i {
  animation-name: heart;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}
@keyframes heart {
  0%{
    transform: scale(50%,50%);
    color: #FF2020;
  }
  100%{
    transform: scale(150%,150%);
    color: rgba(255, 32, 32, 0.5);
  }
}
/* End Footer */